@charset "UTF-8";

:root{
    --green: #009743;
    --yellow: #FFCB0A;
    --gray1: #999999;
    --gray2: #666666;
    --gray3: #292929;
}


/* container */
#container{
    background-color: #f2f2f2;
}


/* sub_header */
.sub_header{
    position: absolute;

    z-index: 20;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    width: 100%;
    height: 50px;
}
.sub_header_in{
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.sub_header_in ul{
    display: inline-block;
}
.sub_header_in li{
    float: left;
    margin-left: 20px;
}
.sub_header_in a{
    display: inline-block;
    line-height: 50px;
    color: #fff;
}

.sub_header_in li + li::before{
    display: inline-block;
    content: "";

    background-color: rgba(255, 255, 255, 0.2);
    width: 4px;
    height: 4px;
    border-radius: 50%;

    margin-right: 20px;

    font-weight: 300;

    position: relative;
    top: -4px;
}

.sub_header li.active a::after{
    display: block;
    content: "";
    
    width: 100%;
    height: 4px;
    background-color: var(--green);

    position: relative;
    bottom: 4px;
}


/* sub_visual */
.sub_visual{
    overflow: hidden;
    width: 100%;
    height: 380px;

    position: relative;

    text-align: center;

    color: #fff;
}
.sub_visual h2{
    background: none;
    font-size: 72px;
    padding-top: 118px;
    line-height: 1;

    animation: toUp 400ms ease-out;
}
.sub_visual p{
    padding-top: 20px;
    line-height: 26px;
    
    opacity: 0;
    
    animation: toUp 400ms 300ms ease-out forwards;
}

.morning{
    background: #F2B701 url('../subway-img/bg_visual_morning.png') 50%;
}
.morning .img1{
    position: absolute;
    left: 50%;
    top: 0;    
    margin-left: 360px;

    width: 508px;
    height: 549px;
    background: url('../subway-img/img_visual_morning01.jpg');

    opacity: 0;

    animation: toDown 700ms 400ms ease-out forwards;
}
.morning .img2{
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -700px;

    width: 327px;
    height: 215px;
    background: url('../subway-img/img_visual_morning02.jpg');

    opacity: 0;

    animation: toLeft 700ms 300ms ease-out forwards;
}

@keyframes toUp {
    from{
        transform: translateY(200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes toDown {
    from{
        transform: translateY(-500px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes toLeft {
    from{
        transform: translateX(100px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}


/* product */
.product{
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 150px;
}
.pd_tab{
    height: 80px;
    background-color: #fff;
    text-align: center;

    position: relative;
    top: -40px;
}
.pd_tab ul{
    display: inline-block;
}
.pd_tab li{
    float: left;
    margin-left: 20px;
}
.pd_tab a{
    display: inline-block;
    line-height: 80px;
    font-weight: 500;
    color: var(--gray2);
}

.pd_tab li + li::before{
    display: inline-block;
    content: "";
    width: 1px;
    height: 15px;
    background-color: #bbb;
    margin-right: 20px;

    position: relative;
    top: 2px;
}

.pd_list{
}
.pd_list ul{
    margin: -30px 0 0 -30px;
}
.pd_list li{
    background-color: #fff;

    float: left;
    width: 370px;
    height: 330px;
    margin: 30px 0 0 30px;
    text-align: center;
    
    position: relative;
}

.pd_list figure{
    width: 270px;
    margin: 20px auto 0;
}
.pd_list figure img{
    width: 100%;
}

.pd_list .tit{
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: var(--gray2);

    margin-bottom: 10px;

    position: relative;
    z-index: 5;
    top: 0;

}
.pd_list .eng{
    font-family: 'Ubuntu', sans-serif;
    color: var(--gray2);
    
    position: relative;
    z-index: 5;
    top: 0;
}
.pd_list .summary{
    position: absolute;
    z-index: 5;
    top: 200px;
    left: 15px;
    
    line-height: 1.4;
    opacity: 0;
    
    font-size: 15px;

    width: 340px;
}
.pd_list .viewBtn{
    position: absolute ;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;

    transform: scale(0);
    opacity: 0;

    background: url(../subway-img/btn_more.png) 145px bottom no-repeat;
}


/* hover */
.pd_list li:hover::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--green);

    position: absolute;
    top: 0;
    left: 0;
}
.pd_list li:hover .tit, .pd_list li:hover .eng{
    color: #fff;  
}
.pd_list li:hover .tit{
    top: -150px;
    transition: 0.4s;
}
.pd_list li:hover .eng{
    top: -143px;
    transition: 0.4s;
}
.pd_list li:hover .summary{
    color: #c5e698;
    top: 130px;
    opacity: 1;
    transition: 0.4s 0.2s;
}
.pd_list li:hover .viewBtn{
    transform: scale(1);
    opacity: 1;
    transition: 0.4s 0.4s;
}