@charset "UTF-8";

:root{
    --green: #009743;
    --yellow: #FFCB0A;
    --gray1: #999999;
    --gray2: #666666;
    --gray3: #292929;
}


/* container */
#container{

}


/* sub_header */
.sub_header{
    z-index: 20;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    width: 100%;
    height: 59px;
    background-color: #fff;
}
.sub_header_in{
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.sub_header_in ul{
    display: inline-block;
}
.sub_header_in li{
    float: left;
    margin-left: 20px;
}
.sub_header_in a{
    display: inline-block;
    line-height: 59px;
    color: var(--gray1);
}

.sub_header_in li + li::before{
    display: inline-block;
    content: "";

    background-color: rgba(255, 255, 255, 0.2);
    width: 4px;
    height: 4px;
    border-radius: 50%;

    margin-right: 20px;

    font-weight: 300;

    position: relative;
    top: -4px;
}

.sub_header li.active a::after{
    display: block;
    content: "";
    
    width: 100%;
    height: 4px;
    background-color: var(--green);

    position: relative;
    bottom: 4px;
}


/* sub_title */
.sub_title h2{
    text-align: center;
    font-size: 40px;
    color: var(--gray3);
    font-weight: 500;
    margin: 80px 0;

    background: none;
}


/* event_wrap */
.event_wrap{
    height: 580px;
}

.event_in{
    width: 1170px;
    margin-bottom: 70px;
    margin: 0 auto;
}

.event_banner figure{
    width: 770px;
    height: 400px;
    float: left;
}
.event_banner figure img{
    width: 100%;
}

.event_content{
    padding-top: 20px;
    margin-left: 800px;

    width: 370px;
    height: 380px;

    position: relative;
}
.event_content .date{
    color: var(--green);
    font-weight: bold;
    font-size: 22px;
}
.event_content .event_tit{
    display: block;
    font-size: 28px;
    line-height: 42px;
}
.event_content .event_txt{
    font-size: 16px;
    color: var(--gray2);
    line-height: 26px;
    margin-top: 27px;
}
.event_content .event_btn{
    color: #bbbbbb;
    font-size: 18px;
    
    position: absolute;
    left: 0;
    bottom: 16px;
    
    width: 140px;
    height: 50px;
    line-height: 50px;
    background-color: #009223;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    text-indent: 21px;
}
.event_content .event_btn::after{
    content: "";
    background: url(../subway-img/event_btn.png) 0 0 no-repeat;
    width: 20px;
    height: 20px;

    position: absolute;
    right: 8px;
    top: 20px;
}


/* event_list_wrapper */
.event_list_wrapper{
    background-color: #f6f6f6;
    padding-bottom: 130px;
}

.event_top_menu{
    text-align: center;
    padding: 100px 0 57px;
}

.event_list_inner{
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}
.event_list_inner ul{
    overflow: hidden;
    display: inline-block;
}
.event_list_inner li{
    float: left;
    background-color: #fff;

    position: relative;
}
.event_list_inner li:first-child{
    border-radius: 50px 0 0 50px;
}
.event_list_inner li:last-child{
    border-radius: 0 50px 50px 0;
}
.event_list_inner li a{
    display: block;
    color: var(--gray2);
    width: 220px;
    height: 45px;

    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 45px;
    
    position: relative;
    z-index: 3;
}
.event_list_inner li.event_active a{
    background-color: #58006c;
    color: #fff;
    border-radius: 50px 0 0 50px;
}
.event_list_inner li + li::before{
    content: '';
    
    position: absolute;
    left: 0;
    top: 15px;
    
    width: 2px;
    height: 15px;
    background-color: #dddddd;
}

/* event_list_content */
.event_list_content{
    padding-top: 57px;
    width: 1170px;
    margin: 0 auto;
}
.event_list_content #event_list{
    overflow: hidden;
    margin-left: -30px;
}
#event_list li{
    float: left;
    margin: 0 0 30px 30px;
}
#event_list li a{
    display: block;
    position: relative;
    width: 370px;
    height: 320px;
    background-color: #ffffff;
    overflow: hidden;
}

#event_list li a::after{
    content: '';
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    border: 10px solid #009223;
    transition-duration: 0.2s;
}
#event_list li a:hover::after{
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#event_list figure{
    width: 370px;
    height: 192px;
    overflow: hidden;
}
#event_list figure img{
    width: 100%;
}

#event_list .event_info strong{
    color: #292929;
    font-weight: 500;
    line-height: 28px;
    font-size: 18px;
    display: block;
    padding: 19px 26px 0 26px;
    text-align: left;
}
#event_list .event_info p{
    color: #009223;
    font-size: 16px;
    font-weight: 900;
    line-height: 60px;
    padding: 19px 26px 0 26px;
    text-align: left;
}
#event_list .event_info p.end{
    color: #bbbbbb;
    font-weight: bold;
}

.event_list_btn{
    display: block;
    width: 450px;
    height: 50px;
    line-height: 50px;
    margin: 10px auto 0;
    background-color: #e5e5e5;
    color: #999999;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    border-radius: 50px;
}